body{
    color: white;
}
.navbar-header{
    background: white !important;
    border: none !important;
}
.navbar-toggle{
    border-color: transparent !important;
    position: absolute !important;
    left: 10px !important;
}
#hero{
    background-image: url("../img/taxi.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 -1230px;
    min-height: 102vh;
    overflow: hidden;
}
#hero-2{
    background-image: url("../img/taxi.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height: 102vh;
    overflow: hidden;
}

.background{
    background: #f7b617;
}
.pos-absolute{
    position: absolute;
}
.bloque-text-hero{
    right: 0;
    top: 40%;
    margin: 15px 0;
}
.hr{
    position: absolute;
}
.margin-text-hero{
    margin: 40px 60px;
}
.hr-text{
    bottom: 25%;
    left: 46%;
    padding: 0 30px;
}
.btn-default{
    color: black !important;
    border: none !important;
}
p{
    font-size: 20px;
}
.border{
    margin: 5em 20em 5em 0;
    border: 1px solid white;
}
.border-xs{
    margin: 20px 20px 20px 20px;
    border: 1px solid white;
}
.border-left{
    border-left: none;
}
.padding-left-0{
    padding-left: 0px !important;
}
.padding-rigth-0{
    padding-right: 0px !important;
}
.padding-informacion{
    padding-top: 5em;
    padding-bottom: 5em;
}
#conduce{
    background-image: url("../img/conduce.jpg");
    background-repeat: no-repeat;
    background-size:100% 90%;
    background-position:  0 -70px;
    min-height: 100vh;
    
}
.bloque-text-conduce{
    background:  black;
    opacity: 0.8;
    top:0;
    right: 0;
    overflow:  hidden;
    height: 78vh;
    max-height: 100%;
}
@media(max-width: @screen-sm-max){
.bloque-text-conduce{
    height: 70vh;
}
    
}
.margin-text-conduce{
    margin: 100px 60px;
}
#tarifa{
    margin-top: -150px;
}
#map{
    width: 100%;
    height: 60vh;
}
.form-control{
    background-color: #f7b617;
    border: 1px solid #fff;
    border-radius: 5px !important;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.form-control:-moz-placeholder {
  color: #fff;
}
.form-control {
  color: #fff;
}
.form-control[placeholder] {
  color: #fff;
}
.input-group-addon {
     background-color: transparent!important; 
     border: 1px solid transparent !important; 
}
.margin-5{
    margin: 5%;
}
footer{
    background: gray;
}
footer a{
    color: white !important;
    font-size:  1em;
}
footer a:active, footer a:focus{
    background: white !important;
}
#redes-sociales{
    font-size: 1em;
}
.padding-footer{
    padding-bottom: 5em;
}
.padding-left-30{
    padding-left: 30%;
}