body{
    color: white;
}

#hero{
    background-image: url("../img/taxi.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 -1230px;
    min-height: 102vh;
    overflow: hidden;
}

.background{
    background: #f7b617;
}
.pos-absolute{
    position: absolute;
}
.bloque-text{
    right: 0;
    top: 40%;
    margin: 15px 0;
}
.hr{
    position: absolute;
}
.margin-text{
    margin: 40px 60px;
}
.hr-text{
    bottom: 25%;
    left: 46%;
    padding: 0 30px;
}
.btn-default{
    color: black !important;
    border: none !important;
}
p{
    font-size: 20px;
}
.border{
    margin: 5em 20em 5em 0;
    border: 1px solid white;
    border-left: none;
}
.padding-left-0{
    padding-left: 0px !important;
}
.padding-informacion{
    padding-top: 5em;
    padding-bottom: 5em;
}